<section id="gigs" class="container">
    <h1>All Gigs</h1>

    {{#each gigs}}
      <div class="gig">
      <h3>{{title}}</h3>
      <p>{{description}}</p>
      <ul>
        <li>Budget: {{budget}}</li>
        <li><a href="mailto:{{contact_email}}" class="btn btn-reverse">Apply Now</a></li>
      </ul>
      <div class="tech">
        <small>Technologies Needed: <span>{{technologies}}</span></small>
      </div>
    </div>
    {{else}}
      <p>No gigs available</p>
    {{/each}}
    
  </section>

<div id="all-timetables" class="container">
    <!--This div container needs to get populated with timetable divs 
        also with unique ID's-->
        {{#each}}
        <div id = "timetable1" class="timetable"></div>
        {{/each}}
    <div id = "timetable1" class="timetable"></div>
    <div id = "timetable2" class="timetable"></div>
</div>

<script src="scripts/timetable.js"></script>
<script>
    var timetable1 = new Timetable();
    timetable1.setScope(9,8);
    timetable1.addLocations(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']);

    //We need to do an add event for EVERY BLOCK of time
    //So sections WILL have MULTIPLE blocks of times.
    //We may have to re-configure our data so that there is a unique
    //data point for every 50 min class period
    timetable.addEvent("ClassName", "Day", "start", "end");

</script>
